@model List<ApartmentWithChargeDto>
@{
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bloc NO</th>
            <th scope="col">Floor NO</th>
            <th scope="col">Elektrik Faturası</th>
            <th scope="col">Sıcak su ve Isıtma Faturası</th>
            <th scope="col">Aidat</th>
            <th scope="col">Toplam</th>
            <th scope="col">Ay</th>
            <th scope="col">Ödeme</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var charge in Model)
        {
        <tr>
            <th scope="row"></th>
            <td>@charge.BlocNo</td>
            <td>@charge.FloorNo</td>
            <td>@charge.ElectricBill</td>
            <td>@charge.HeatingCost</td>
            <td>@charge.Subscription</td>
            <td>@charge.TotalCharge</td>
            <td>@charge.MonthOfPayment</td>
            @{
                if (!charge.IsPaid)
                {
                    <td>@Html.ActionLink("Kredi kartı ile öde", "PayCard", "Payment", new { chargeid = charge.MonthlyChargeID }) </td>
                }
                else
                {
                    <td>ÖDENMİŞTİR !</td>
                }
            }



        </tr>


        }



    </tbody>
</table>