@model IndexUserDto
@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<h3 class="text-center">Kullanıcı Bilgileri</h3>

<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Kullanıcı isim ve soyisim</th>
                <td>@Model.Name @Model.Surname</td>
            </tr>
            <tr>
                <th>Kullanıcı Adı </th>
                <td>@Model.Username</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefon Numarası</th>
                <td>@Model.PhoneNumber</td>
            </tr>

        </table>
    </div>
</div>